# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Installer logs
pip-log.txt

# VSCode history
.history/

# Django
db.sqlite3
/media
/staticfiles

# Environment
.env
venv/

.github/
.vscode/